.root{
    -fx-background-color: #191919;
}
.button-style {
    -fx-font-size: 20px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-weight: bold;
    
    -fx-text-fill: #050505;
    -fx-background-color: #c74634;
    -fx-transition: 0.3s;
    -fx-cursor: hand;
    
}

.button-style:hover {
    -fx-text-fill: white;
    -fx-background-color: #050505;   
}

.footer-text{
    -fx-font-size: 14px;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-weight: bold;
    -fx-text-align: center;

}

.footer{
    -fx-padding: 20px 0 20px 0;
    -fx-background-color: #c74634;
}

.number{
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-weight: bold;
    -fx-border-color: transparent transparent white transparent;
    -fx-border-width: 0 0 5px 0;
    -fx-background-color: transparent;
}

.option .list-cell{
    -fx-background-color: #050505;
    -fx-font-size: 18px;
    -fx-text-fill: white;

}